<div class="max-w-4xl mx-auto px-4 py-2 sm:p-6 md:p-8">
    <h1 class="mb-6 text-3xl font-bold bg-teal-700 text-white border border-gray-300 rounded-md pl-2 py-1 text-center">
        Registro de asistencia de alumnos
    </h1>
    <div>
        <h2 class="text-2xl font-bold mx auto rounded-md pl-2 py-2 my-2">
            Alumnos
        </h2>
        @for (individuo of datos; track $index) {
        <app-lista [alumnoLista]="individuo">
        </app-lista>
        }

    </div>
    <div>
        <h2 class="text-2xl font-bold mx auto rounded-md pl-2 py-2 my-2">
            Agregar alumno
        </h2>
        <form [formGroup]="miForm" class="w-full grid-cols-2 gap-3 inline-grid">
            <div class="">
                <label for="nombre" class="w-full rounded-md px-4 mb-2">
                    Nombre
                </label>
                <input formControlName="nombre" type="text" name="nombre"
                    class="w-full rounded-md border border-gray-400 pl-4">
            </div>
            <div class="">
                <label for="apellido" class="w-full rounded-md px-4 mb-2">
                    Apellido
                </label>
                <input formControlName="apellido" type="text" name="apellido" class="w-full rounded-md border border-gray-400 pl-4">
            </div>
            <div class="">
                <label for="dni" class="w-full rounded-md px-4 mb-2">
                    DNI
                </label>
                <input formControlName="dni" type="text" name="dni" class="w-full rounded-md border border-gray-400 pl-4">
            </div>
            <div class="">
                <label for="telefono" class="w-full rounded-md px-4 mb-2">
                    Teléfono
                </label>
                <input formControlName="telefono" type="text" name="telefono" class="w-full rounded-md border border-gray-400 pl-4">
            </div>
            <div>
                <button (click)="agregar(miForm.value)" [disabled]="!miForm.valid"
                    class="disabled:hover:bg-slate-100 w-full rounded-md border border-gray-400 mt-5 bg-slate-100 hover:bg-slate-300">
                    Agregar alumno
                </button>
            </div>
        </form>
    </div>
    
</div>
